/*stylesheet for context menu*/


body {

}

#contextMenuContainer {
    display: none;
    position: fixed;
    border: 1px solid gray;
    z-index: 100;
}

    #contextMenuContainer #contextMenu {
        list-style: none;
        padding: 0px;
        font-size: 10px;
    }

        #contextMenuContainer #contextMenu li {
            font-size: 20px;
            cursor: pointer;
            padding-top: 1px;
            padding-left: 1px;
            padding-right: 1px;
            padding-bottom: 1px;
            text-align: left;
        }
